<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1083824851795-m2m28d3s0tc3c84pf718dj8tvf3v8lso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083824851795-m2m28d3s0tc3c84pf718dj8tvf3v8lso</string>
	<key>API_KEY</key>
	<string>AIzaSyDLbK5_jokfwX58dujyZESY-oW040pdYOU</string>
	<key>GCM_SENDER_ID</key>
	<string>1083824851795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.quickbytes.example004</string>
	<key>PROJECT_ID</key>
	<string>example-3b0c3</string>
	<key>STORAGE_BUCKET</key>
	<string>example-3b0c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083824851795:ios:6c2134b893b55062</string>
	<key>DATABASE_URL</key>
	<string>https://example-3b0c3.firebaseio.com</string>
</dict>
</plist>